body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    top: 0px !important;
}


/* Loader And heading */

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"), url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 7rem !important;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: #f4511e !important;
}

.band-name-large {
    font-size: 7rem !important;
}

#content {
    display: none;
}

#loader {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

#loader img {
    width: 200px;
}

.heading {
    padding-top: 70px;
}


/* Navbar */

.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}


/* Navbar Category Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4511e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Forms */

.form-box {
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
    background-color: white;
}


/*Welcome Message and Translator */

.welcome {
    margin-top: 3.3em;
    color: white;
    background-color: #f4511e;
    border-color: #f4511e;
    float: left;
    width: 91%;
}

div.sticky {
    position: fixed;
    right: 0px;
    z-index: 3;
    top: 6.5%;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}


/* Carousel */

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    color: #f4511e;
}

.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}


/* Product Card */

.dress-card-img-top {
    width: 100%;
    border-radius: 7px 7px 0 0;
}

.dress-card-body {
    padding: 1rem;
    background: #fff;
    border-radius: 0 0 7px 7px;
}

.dress-card-title {
    line-height: 0.5rem;
}

.dress-card-crossed {
    text-decoration: line-through;
}

.dress-card-price {
    font-size: 1rem;
    font-weight: bold;
}

.dress-card-off {
    color: #f4511e;
}

.dress-card-para {
    margin-bottom: 0.2rem;
    font-size: 1rem;
}

.dress-card {
    border-radius: 14px;
}

.dress-card-heart {
    font-size: 1em;
    color: #f4511e;
    margin: 4.5px;
    position: absolute;
    left: 4px;
    top: 0px;
}

.surprise-bubble {
    position: absolute;
    bottom: 12rem;
    right: 2rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #fff;
    padding: 1rem;
    color: white;
    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.surprise-bubble a {
    font-size: 0.65em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-family: arial;
    text-decoration: none;
    position: absolute;
    top: 9px;
    left: 20px;
    opacity: 0;
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.surprise-bubble:hover {
    border-radius: 999rem;
    padding: 1rem;
    width: 30%;
    height: 30px;
    background: #f4511e;
    color: white;
    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.surprise-bubble:hover a {
    opacity: 1;
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
    -webkit-transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.card-button {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    padding: 9px;
}

.card-button a {
    text-decoration: none;
}

.card-button-inner {
    padding: 10px;
    border-radius: 3px;
}

.bag-button {
    background: #f4511e;
    color: white;
}

.wish-button {
    border: 1px solid #f4511e;
    color: #f4511e;
}


/* Shop by category */

section .container-fluid {
    padding: 20px 50px 0px;
}

.banner-section img {
    max-width: 100%;
    width: 600px;
    height: 343.48px;
    margin: 20px;
}

.banner-section {
    padding: 20px 50px 0px;
}

.single-banner {
    position: relative;
    z-index: 1;
}

.single-banner:hover::before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.single-banner::before {
    position: absolute;
    border: 13px solid white;
    content: "";
    width: calc(109%);
    height: calc(108%);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.6s;
}

.single-banner img {
    min-width: 100%;
}

.single-banner .inner-text {
    position: absolute;
    left: 0;
    top: 0;
}

.single-banner .inner-text h4 {
    color: blueviolet;
    font-weight: 700;
    padding: 11px 28px;
    background: white;
    border-radius: 2px;
}


/* Store */

.lg\:h-48 {
    height: 24rem;
}

.text-xs {
    font-size: 1.05rem;
}

.text-lg {
    font-size: 2.125rem;
}

.text-sm {
    font-size: 1.875rem;
}


/* About US */

.client_review {
    padding: 100px 0;
    text-align: center;
    background-color: #f4511e;
    position: relative;
}

@media (max-width: 991px) {
    .client_review {
        padding: 70px 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .client_review {
        padding: 80px 0;
    }
}

.client_review img {
    width: 100%;
    border-radius: 50%;
}

.client_review p {
    font-size: 24px;
    line-height: 1.5;
    color: #fff;
}

@media (max-width: 991px) {
    .client_review p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .client_review p {
        font-size: 20px;
    }
}

.client_review h5 {
    font-size: 16px;
    margin-top: 25px;
    color: #fff;
    margin-bottom: 0;
}

.client_review .client_img {
    max-width: 105px;
    margin: 28px auto;
    margin-bottom: 35px;
    position: relative;
}


/* Contact Us */

.contact-section {
    background: url(/static/user/img/map-bg.png) #2d3237 no-repeat;
    /*  background-size: 100%;   */
    background-position: center center;
    padding: 100px 0 80px;
    display: block;
    position: relative;
}

.contact-section:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(45, 50, 55, 0.55);
}

.contact-section .titie-section {
    display: block;
    margin-bottom: 80px;
}

.contact-section .titie-section h1 {
    color: #fff;
}

.contact-section .left-content h2 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 1;
    font-weight: 300;
}

.contact-section .left-content h2 span {
    color: #f4511e;
}

.contact-section .left-content h3 {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 10px;
}

.contact-section .left-content p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-family: "Roboto";
}

.contact-section .left-content p b {
    color: #f4511e;
}

.contact-info {
    display: block;
    margin-top: 10px;
}

.contact-info p {
    margin: 0;
}

.social-media {
    display: block;
    margin-top: 10px;
}

.social-media ul {
    margin: 0;
    padding: 0;
    display: block;
}

.social-media ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.social-media ul li a {
    color: #fff;
}

.social-media ul li a i {
    height: 35px;
    width: 35px;
    font-size: 20px;
    border: 1px solid #fff;
    text-align: center;
    padding: 7px 0;
}

.social-media ul li a:hover i {
    background: #f4511e;
    border: 1px solid #f4511e;
}

.contact-form {
    margin-top: 10px;
    display: block;
}

.contact-form .col-md-6 {
    display: block;
    margin-bottom: 30px;
}

.contact-form .input-group {
    width: 100%;
    display: block;
}

.contact-form .input-group input.form-control,
.contact-form .input-group textarea.form-control {
    width: 100%;
    display: block;
    background: transparent;
    border: 1px solid #fff;
    height: 50px;
}

.contact-form .input-group textarea.form-control {
    height: 150px;
}

.contact-form .input-group .form-control:focus,
.contact-form .input-group .form-control:hover {
    border: 1px solid #f4511e;
    box-shadow: none;
    color: #f4511e !important;
}

.contact-form .input-group input.contact-submit {
    display: inline-block;
    background: #f4511e !important;
    padding: 10px 40px;
    border: none;
    color: #fff !important;
    margin-top: 30px;
    font-size: 16px;
    text-transform: uppercase;
}


/* Footer */

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

.fa {
    font-size: 15px;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}