<!DOCTYPE html>
<html lang="en">

<head>
    <title>local FOR vocals</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/user/index.css" type="text/css">
</head>

<body id="myPage" data-spy="scroll">
    {% load static %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <marquee>
                        <a href="static/user/img/logo1.png"><img src="static/user/img/logo1.png" style="width:265px;height:44px"></a>
                    </marquee>
                </ul>
                <ul class="nav navbar-nav">
                    <li style="margin-left: 20px;"><a href="#home">HOME</a></li>
                    <li><a href="#deals">DEALS</a></li>
                    <li><a href="#product">CATEGORYYY</a></li>
                    <li><a href="#store">STORE</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form method="GET" action="/search/" class="form-inline" style="margin-top: 8px;margin-right: 15px;margin-left:15px;">
                            <div class="input-group">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search . . . " aria-label="Search" name="search">
                                <div class="input-group-btn">
                                    <button class="btn btn-success" type="submit"><i
                                            class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li><a href="login/"><span class="glyphicon glyphicon-log-in"></span> SignIN</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart(0)</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-11">
            <div class="alert alert-danger alert-dismissible text-center" style="margin-top: 3.3em;color: white; background-color: #f4511e; border-color: #f4511e;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span id="typed"></span>
            </div>
        </div>

        <div class="sticky">
            <div id="google_translate_element" class="form-box"></div>
        </div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({
                    pageLanguage: 'en',
                    includedLanguages: 'en,hi,pa,gu,kn,mr,or,ta,sd,te,ur',
                }, 'google_translate_element');
            }
        </script>

        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        <div class="skiptranslate">
            <iframe frameborder="0" style="visibility:visible" src="javascript:''" class="goog-te-banner-frame skiptranslate" id=":2.container"></iframe>
        </div>
    </div>
    <div class="container-fluid" id='home' style="padding: 70px 50px;">
        <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators" style="z-index: 1;">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="static/user/img/c4.jpg" alt="Los Angeles" style="width:100%;height:100%;">
                </div>

                <div class="item">
                    <img src="static/user/img/c2.jpg" alt="Chicago" style="width:100%;height:100%;">
                </div>

                <div class="item">
                    <img src="static/user/img/c3.jpg" alt="New york" style="width:100%;height:100%;">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!-- <div id="deals"></div>
    <h1 style="color:#f4511e;font-size: 60px; letter-spacing:10px; text-decoration: underline;" class="text-center">
        <br><i>Today's Deal - Recommended for you</i></h1> -->

    <img src="static/user/img/deals.png" id="deals" style="padding-top: 30px;" class="mx-auto d-block">

    <div class="container-fluid" id="home" style="padding: 45px 50px;">
        <div id="myCarousel1" class="carousel slide carousel-fade" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <img src="static/user/img/jeans.jfif" alt="Denim Jeans" style="width:100%">
                                <h1>Tailored Jeans</h1>
                                <p class="price"><strong> ₹ 999 </strong><del> ₹ 1199 </del></p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.
                                </p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="static/user/img/jeans.jfif" alt="Denim Jeans" style="width:100%">
                                <h1>Tailored Jeans</h1>
                                <p class="price"><strong> ₹ 999 </strong><del> ₹ 1199 </del> </p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.
                                </p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="static/user/img/jeans.jfif" alt="Denim Jeans" style="width:100%">
                                <h1>Tailored Jeans</h1>
                                <p class="price"><strong> ₹ 999 </strong><del> ₹ 1199 </del> </p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.
                                </p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="static/user/img/jeans.jfif" alt="Denim Jeans" style="width:100%">
                                <h1>Tailored Jeans</h1>
                                <p class="price"><strong> ₹ 999 </strong><del> ₹ 1199 </del> </p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.
                                </p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <img src="static/user/img/jeans.jfif" alt="Denim Jeans" style="width:100%">
                                <h1>Tailored Jeans</h1>
                                <p class="price"><strong> ₹ 999 </strong><del> ₹ 1199 </del></p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.
                                </p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="static/user/img/jeans.jfif" alt="Denim Jeans" style="width:100%">
                                <h1>Tailored Jeans</h1>
                                <p class="price"><strong> ₹ 999 </strong><del> ₹ 1199 </del> </p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.
                                </p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="static/user/img/jeans.jfif" alt="Denim Jeans" style="width:100%">
                                <h1>Tailored Jeans</h1>
                                <p class="price"><strong> ₹ 999 </strong><del> ₹ 1199 </del> </p>
                                <p>Some text about the jeans. S9uper slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.
                                </p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="static/user/img/jeans.jfif" alt="Denim Jeans" style="width:100%">
                                <h1>Tailored Jeans</h1>
                                <p class="price"><strong> ₹ 999 </strong><del> ₹ 1199 </del> </p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.
                                </p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <img src="static/user/img/jeans.jfif" alt="Denim Jeans" style="width:100%">
                                <h1>Tailored Jeans</h1>
                                <p class="price"><strong> ₹ 999 </strong><del> ₹ 1199 </del></p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.
                                </p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="static/user/img/jeans.jfif" alt="Denim Jeans" style="width:100%">
                                <h1>Tailored Jeans</h1>
                                <p class="price"><strong> ₹ 999 </strong><del> ₹ 1199 </del> </p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.
                                </p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="static/user/img/jeans.jfif" alt="Denim Jeans" style="width:100%">
                                <h1>Tailored Jeans</h1>
                                <p class="price"><strong> ₹ 999 </strong><del> ₹ 1199 </del> </p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.
                                </p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="static/user/img/jeans.jfif" alt="Denim Jeans" style="width:100%">
                                <h1>Tailored Jeans</h1>
                                <p class="price"><strong> ₹ 999 </strong><del> ₹ 1199 </del> </p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.
                                </p>
                                <p><button>Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel1" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!-- <div id="product"></div>
    <h1 style="color:#f4511e;font-size: 60px; letter-spacing:10px; text-decoration: underline;" class="text-center">
        <br><i>Shop By Category</i></h1> -->

    <img src="static/user/img/category.png" id="product" style="padding-top: 30px;" class="mx-auto d-block">

    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-3">
                    <a href="store/Fashion">
                        <div class="single-banner">
                            <img src="static/user/img/fashion.jpg" alt="">
                            <div class="inner-text">
                                <h4>Fashion</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="store/Handloom">
                        <div class="single-banner">
                            <img src="static/user/img/handloom.jpg" alt="">
                            <div class="inner-text">
                                <h4 class="text-center">Handloom</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="store/Crockery">
                        <div class="single-banner">
                            <img src="static/user/img/crockery.jpg" alt="">
                            <div class="inner-text">
                                <h4>Crockery</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="store/Toys">
                        <div class="single-banner">
                            <img src="static/user/img/toys1.jpg" alt="">
                            <div class="inner-text">
                                <h4>Toys</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- <div class="col-lg-4">
                    <div class="single-banner">
                        <a href="#"> <img src="static/user/img/toys.jpg" alt="">
                            <div class="inner-text">
                                <h4>Toys</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <a href="#"> <img src="static/user/img/shoes.jpg" alt="">
                            <div class="inner-text">
                                <h4>Footwear</h4>
                            </div>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <!-- <div id="store"></div>
    <h1 style="color:#f4511e;font-size: 60px;  letter-spacing:10px; text-decoration: underline;" class="text-center">
        <br><i>Popular Store</i></h1><br> -->

    <img src="static/user/img/store.png" id="store" style="padding-top: 30px;" class="mx-auto d-block">

    <section class="text-gray-700 body-font">
        <div class="container-fluid px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
                <div class="p-4 md:w-1/4">
                    <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                        <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="static/user/img/bg3.jpg" alt="blog">
                        <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">CATEGORY</h2>
                            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                            <p class="leading-relaxed mb-3">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                            <div class="flex items-center flex-wrap ">
                                <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">View More
                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                                <span class="text-gray-600 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-300">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                        <circle cx="12" cy="12" r="3"></circle>
                                    </svg>
                                    1.2K
                                </span>
                                <span class="text-gray-600 inline-flex items-center leading-none text-sm">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path
                                            d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                        </path>
                                    </svg>6
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 md:w-1/4">
                    <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                        <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="static/user/img/bg3.jpg" alt="blog">
                        <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">CATEGORY</h2>
                            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                            <p class="leading-relaxed mb-3">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                            <div class="flex items-center flex-wrap ">
                                <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">View More
                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                                <span class="text-gray-600 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-300">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                        <circle cx="12" cy="12" r="3"></circle>
                                    </svg>
                                    1.2K
                                </span>
                                <span class="text-gray-600 inline-flex items-center leading-none text-sm">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path
                                            d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                        </path>
                                    </svg>6
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 md:w-1/4">
                    <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                        <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="static/user/img/bg3.jpg" alt="blog">
                        <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">CATEGORY</h2>
                            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                            <p class="leading-relaxed mb-3">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                            <div class="flex items-center flex-wrap ">
                                <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">View More
                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                                <span class="text-gray-600 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-300">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                        <circle cx="12" cy="12" r="3"></circle>
                                    </svg>1.2K
                                </span>
                                <span class="text-gray-600 inline-flex items-center leading-none text-sm">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path
                                            d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                        </path>
                                    </svg>6
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 md:w-1/4">
                    <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                        <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="static/user/img/bg3.jpg" alt="blog">
                        <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">CATEGORY</h2>
                            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                            <p class="leading-relaxed mb-3">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                            <div class="flex items-center flex-wrap ">
                                <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">View More
                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                                <span class="text-gray-600 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-300">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                        <circle cx="12" cy="12" r="3"></circle>
                                    </svg>1.2K
                                </span>
                                <span class="text-gray-600 inline-flex items-center leading-none text-sm">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path
                                            d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                        </path>
                                    </svg>6
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 md:w-1/4">
                    <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                        <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="static/user/img/bg3.jpg" alt="blog">
                        <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">CATEGORY</h2>
                            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                            <p class="leading-relaxed mb-3">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                            <div class="flex items-center flex-wrap ">
                                <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">View More
                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                                <span class="text-gray-600 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-300">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                        <circle cx="12" cy="12" r="3"></circle>
                                    </svg>1.2K
                                </span>
                                <span class="text-gray-600 inline-flex items-center leading-none text-sm">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path
                                            d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                        </path>
                                    </svg>6
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 md:w-1/4">
                    <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                        <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="static/user/img/bg3.jpg" alt="blog">
                        <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">CATEGORY</h2>
                            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The 400 Blows</h1>
                            <p class="leading-relaxed mb-3">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                            <div class="flex items-center flex-wrap">
                                <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">View More
                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                                <span class="text-gray-600 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-300">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                        <circle cx="12" cy="12" r="3"></circle>
                                    </svg>1.2K
                                </span>
                                <span class="text-gray-600 inline-flex items-center leading-none text-sm">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path
                                            d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                        </path>
                                    </svg>6
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 md:w-1/4">
                    <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                        <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="static/user/img/bg3.jpg" alt="blog">
                        <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">CATEGORY</h2>
                            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Shooting Stars</h1>
                            <p class="leading-relaxed mb-3">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                            <div class="flex items-center flex-wrap ">
                                <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">View More
                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                                <span class="text-gray-600 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-300">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                        <circle cx="12" cy="12" r="3"></circle>
                                    </svg>1.2K
                                </span>
                                <span class="text-gray-600 inline-flex items-center leading-none text-sm">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path
                                            d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                        </path>
                                    </svg>6
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 md:w-1/4">
                    <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                        <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="static/user/img/bg3.jpg" alt="blog">
                        <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">CATEGORY</h2>
                            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Shooting Stars</h1>
                            <p class="leading-relaxed mb-3">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                            <div class="flex items-center flex-wrap ">
                                <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">View More
                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                                <span class="text-gray-600 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-300">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                        <circle cx="12" cy="12" r="3"></circle>
                                    </svg>1.2K
                                </span>
                                <span class="text-gray-600 inline-flex items-center leading-none text-sm">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path
                                            d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                        </path>
                                    </svg>6
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <div id="about"></div>
    <h1 style="color:#f4511e;font-size: 60px;  letter-spacing:10px; text-decoration: underline;" class="text-center">
        <br><i>About</i></h1><br> -->

    <img src="static/user/img/about.png" id="about" style="padding-top: 30px;" class="mx-auto d-block">

    <section class="client_review">
        <div class="container">
            <div id="myCarousel2" class="carousel slide carousel-fade" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="client_img">
                            <img src="static/user/img/yash1.jpeg" alt="#">
                        </div>
                        <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                        <h5>- Yash Gupta</h5>
                    </div>

                    <div class="item">
                        <div class="client_img">
                            <img src="static/user/img/chirag.jpeg" alt="#">
                        </div>
                        <p>"Working1 in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                        <h5>- Chirag Bhagat</h5>
                    </div>

                    <div class="item">
                        <div class="client_img">
                            <img src="static/user/img/aakash.jpeg" alt="#">
                        </div>
                        <p>"Working2 in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                        <h5>- Aakash Gupta</h5>
                    </div>

                    <div class="item">
                        <div class="client_img">
                            <img src="static/user/img/amithesh.jpeg" alt="#">
                        </div>
                        <p>"Working2 in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                        <h5>- Amithesh Gupta</h5>
                    </div>

                    <div class="item">
                        <div class="client_img">
                            <img src="static/user/img/amithesh.jpeg" alt="#">
                        </div>
                        <p>"Working2 in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                        <h5>- Ravikumar Gupta</h5>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- <div id="contact"></div>
    <h1 style="color:#f4511e;font-size: 60px;  letter-spacing:10px; text-decoration: underline;" class="text-center">
        <br><i>Contact</i></h1><br> -->

    <img src="static/user/img/contact.png" id="contact" style="padding-top: 30px;" class="mx-auto d-block">

    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="titie-section wow fadeInDown animated ">
                        <h1>GET IN TOUCH</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 wow fadeInLeft animated">
                    <div class="left-content">
                        <h1><span>M</span>art</h1>
                        <h3>We'd love To Meet You In Person Or Via The Web!</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel nulla sapien. Class aptent tacitiaptent taciti sociosqu ad lit himenaeos. Suspendisse massa urna, luctus ut vestibulum necs et, vulputate quis urna. Donec at commodo
                            erat.
                        </p>
                        <div class="contact-info">
                            <p><b>Main Office:</b> 123 Elm St. New York City, NY</p>
                            <p><b>Phone:</b> 1.555.555.5555</p>
                            <p><b>Email:</b> info@yourdomain.com</p>
                        </div>
                        <div class="social-media">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInRight animated">
                    <form action="" class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="name" placeholder="Your Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="name" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="name" placeholder="Website URL">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <textarea name="" id="" class="form-control" cols="30" rows="5" placeholder="Your Message..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="submit" class="contact-submit" value="Send" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="container-fluid text-center">
        <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
    </footer>

    <script>
        $(document).ready(function() {
            // Add smooth scrolling to all links in navbar + footer link
            $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 900, function() {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });

            $(window).scroll(function() {
                $(".slideanim").each(function() {
                    var pos = $(this).offset().top;

                    var winTop = $(window).scrollTop();
                    if (pos < winTop + 600) {
                        $(this).addClass("slide");
                    }
                });
            });
        })
        var typed = new Typed('#typed', {
            strings: ["Welcome to our website !", "A platform for local dealers..."],
            backSpeed: 50,
            smartBackspace: true,
            backDelay: 1200,
            startDelay: 1000,
            typeSpeed: 150,
            loop: true,
        });
    </script>

</body>

</html>

</html>

</html>
