<html>

<head>
    <title>
        Login
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/user/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/user/img/favicon1.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: #f4511e;background-repeat: no-repeat;background-size: 100% 100%;">
    {% load static %}
    <div class="container">
        <div class="row" style="margin-top: 10%;">
            <div class="col-md-4"></div>
            <div class="col-md-4 form-box">
                <h1 class="text-center">Login</h1>
                <form action='/login' method='post'>
                    <div class="form-group">
                        <label>Username:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="loginusername" id="loginusername" type="text" class="form-control" placeholder="Enter username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Passsword:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input name="loginpassword" id="loginpassword" type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                    <h6 class="text-center">OR<br>
                        <a href="/signup">
                            <h5>Create a New Account</h5>
                        </a>
                    </h6>
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success" value="Submit">
                    <input type="reset" value="Reset" class="btn btn-danger">
                    <button class="btn btn-default" style="background-color: black;">
                        <a href="/" style="text-decoration: none;color:white">Home</a>
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>