<html>

<head>
    <title>
        Registration
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/user/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/user/img/favicon1.ico">
    <script type="text/javascript">
        function checkForm(form) {
            if (form.password.value == form.cpassword.value) {
                alert("You entered a valid password: " + form.pwd1.value);
                return true;
            } else {
                alert("Error: Please check that you've entered and confirmed your password!");
                form.pwd1.focus();
                return false;
            }
        }
    </script>
</head>

<body style="background-color: #f4511e;background-repeat: no-repeat;background-size: 100% 100%;">

    <h3><span id="typed"></span></h3>
    <div class="container">
        <div class="row" style="margin-top: 10%;">
            <div class="col-md-4"></div>
            <div class="col-md-4 form-box">
                <h1 class="text-center">SignUP</h1>
                <form action='/handleSignup' method='post'>
                    <div class="form-group">
                        <label>Username:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="username" type="text" id="username" class="form-control" placeholder="Enter Your Username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input name="email" type="email" id="email" class="form-control" placeholder="Enter Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Passsword:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input name="cpassword" type="password" id="cpassword" class="form-control" placeholder="Confirm Password" required>
                        </div>
                    </div>
                    <h6 class="text-center">OR
                        <a href="/plogin">
                            <h5>Already Have a Account</h5>
                        </a>
                    </h6>
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success" name="register" value="Submit">
                    <input type="reset" value="Reset" class="btn btn-danger">
                    <button class="btn btn-default" style="background-color: black;">
                        <a href="/" style="text-decoration: none;color:white">Home</a>
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>